.block{
  display: flex;
  height: 120px;
  width: 120px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 38px;
}

.row{
  display: flex;
  color: white;
}

.row2{
  border-top: 5.2px solid #0074a6;
  border-bottom: 5.2px solid #0074a6;

}

.rowmid{
  border-left: 5.2px solid #0074a6;
  border-right: 5.2px solid #0074a6;

}

.board{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  background-color:  #23272f;
}

h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  padding-bottom: 20px;
}

h2{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: darkorange;
}

button{
  cursor: pointer;
  margin-top: 10px;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  height: 40px;
  width: 180px;
  background-color: #0074a6;
  border-radius: 10px;
  border: none;
  padding: 5px;
}